*{
    margin: 0;
}
header,footer{
    height: 80px;
    background-color: aquamarine;
    text-align: center;
    line-height: 80px;
}
div{
    height: 200px;
    background-color:aliceblue;
}
footer{
    height: 40px;
    line-height: 40px;
}